# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.19
    
    - name: Build-Database
      run: docker-compose --project-directory ./ci-github-actions/ build

    - name: Create-Database
      run: docker-compose --project-directory ./ci-github-actions/ up -d
      
    - name: Test
      run: go test -v ./ci-github-actions/main_test.go

  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Build
      run: go build -v ./ci-github-actions/main.go
